@use '../../base/mixins' as m;
@use '../../base/variables' as v;


.about{
    &__title{
        @include m.heading;
    }
    
}

.about__content{

    @include m.tablet {
        @include m.grid(2, 1rem) ;
    }

    .about__image{
        margin-bottom: 5rem;

        @include m.tablet { 
            margin: 0 2rem 0 0;
        }

        img{
            transform: rotate(-6deg);
            border: 3rem solid v.$white;
            box-shadow: 9px 10px 5px -7px rgb( 0 0 0 / .35);
        }
    }
    .about__text{

        blockquote {
            text-align: left;
            margin: 0;
            padding: 1rem;
            border-left: .5rem solid v.$primary;
            font-size: 2rem;
        }

    }
}