@use 'variables' as v;
@use 'mixins' as m;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: v.$principal_font;
    font-size: 1.6rem;
    background-color: darken(v.$ligthGray, 3%);


    &.fix-body{
        overflow: hidden;
    }
/*     &.body-scroll{
        padding-top: 8.6rem;
    } */
}

p{
    color: v.$black;
    font-size: 1.6rem;
    line-height: 2;
}

a{
    text-decoration: none;
    color: v.$black;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0 0 2rem 0 ;
}
h1 {
    font-size: 4rem;
}

h2{
    font-size:3.6rem; 
}
h3 {
    font-size: 3.2rem;
}

.section{
    padding: 3rem 0;

    @include m.tablet {
        padding: 8rem 0;
    }

}
