@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* px */

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1200px;

/* Fonts */
$principal_font: 'Poppins', sans-serif;

/* colors */

$primary: #603601; 
$ligthGray: #f8f8f8;
$black: #1B262C;
$white: #F6F6F6;
$gray: #ECE2E1;



